@charset "UTF-8";

*{
    font-family: arial,sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #F1DFDD, #F3D4CF);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7a6a68ad;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #c59308;
    text-align: center;
    text-shadow: 1px, 1px 2px, #795a05ad;
}

h2{
    color: #183d15;
}

p{
    text-align: justify;
    
}